@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body, html {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Open Sans', sans-serif;
}

.parent {
    width: 100%;
    height: auto; 
    background-color: #7f8c8d; 
}

.header {
    width: 100%;
    height: 120px;
    background-color: #27ae60;
    display: inline-block;
    margin-bottom: 10px; 
}

.logo {
    width: 200px;
    height: 120px;
    margin-left: 30px;
    margin-top: 15px; 
    font-family: 'Lobster', cursive; 
    font-size: 50px; 
    line-height: .80em;
}

.row {
    width: 100%; 
    height: auto; 
    min-height: 200px; 
    background-color: #ecf0f1; 
    display: block;
}

p {
    margin-left: auto; 
    margin-right: auto; 
    padding: 0px 40px 0px 40px; 
    font-size: 22px; 
    font-weight: 700; 
    display: inline-block; 
}